
.App {
  text-align: center;
}

div {
  padding: 10px;
}

select {
  padding: 5px;
  margin-top: 100px;
}

#cabecalho {
  background-color: rgb(9, 112, 172);
  height: 50px;
  padding: 10px;
}

h1 {
  font-weight: bolder;
  margin-top: -1px;
  position: absolute;
  text-align: center;
  left: 840px;
  font-size: 36px;
}



body {
  background-color: rgb(17, 24, 39);
  color: white;
}

textarea {
  margin: 0 auto;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(43, 56, 83);
  color: white;
  font-family: "Courier New", Courier, monospace;
}
select {
  background-color: rgb(54, 76, 125);
  border: 2px solid rgb(54, 76, 125);
  color: rgb(0, 0, 0);
  border-radius: 0.6em;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}


button{
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgb(54, 76, 125);
  border-radius: 0.6em;
  color: rgb(54, 76, 125);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

button:hover, button:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px rgb(54, 76, 125) inset;
}


li {
  list-style-type: none;
  float: right;
  margin-top: 5px;
}

li:hover {
  background-color: rgba(43, 56, 83, 0.404);
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 550px) {
  select {
    margin-top: 100px;
  }
  #cabecalho {
    background-color: rgb(9, 112, 172);
    height: 50px;
    padding: 10px;
  }
  
  h1 {
    font-weight: bolder;
    margin-top: -1px;
    position: absolute;
    text-align: center;
    left: 130px;
  }

  .menu-bar {
    display: none;
  }
  
  
}

